$light-grey: #CCCCCC;
$white: #fff;
$black: #000;
$blue: #4A64E9;
$primary-font: 'Open Sans', sans-serif;
// $primary-font: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$brand-font: 'Gruppo', cursive;